{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title%}

{% block content %}
<div class="row justify-content-center" style="height: 450px;">
    <img src="{% static 'images/home_banner.jpg' %}" style="width: 100%; height: 100%;" alt="">
</div>
<div class="content container">
    <div class="row justify-content-center section-header text-center border-bottom">
        <h1>About us</h1>
    </div>
    <div class="row justify-content-between section">
        <div class="col-md-3">
            <div class="row justify-content-center">
                <h5>Who we are</h5>
                <p>We showcase what automation is practical and possible in your everyday life.​</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row justify-content-center">
                <h5>What we do</h5>
                <p>Automating everyday tasks in Excel spreadsheets, visualizing your data in Power BI, and scaling and
                    designing websites in Python or WordPress</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row justify-content-center">
                <h5>Why it matters</h5>
                <p>Spend time repeating computer tasks in spreadsheets, copying numbers from a website everyday, moving
                    files on your computer from one place to another. We show you how to automate that</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center section-header text-center border-bottom">
        <h1>Tools we use</h1>
    </div>
    <div class="row justify-content-between section">
        <div class="col col-md-2 col-sm-6">
            <div class="row justify-content-center">
                <img src="{% static 'images/python.jpg' %}" alt="">
                <h5>Python</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="row justify-content-center">
                <img src="{% static 'images/excel.jpg' %}" alt="">
                <h5>Excel VBA</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="row justify-content-center">
                <img src="{% static 'images/javascript.png' %}" alt="">
                <h5>Javascript</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="row justify-content-center">
                <img src="{% static 'images/power_bi.png' %}" alt="">
                <h5>Power BI</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="row justify-content-center">
                <img src="{% static 'images/django.png' %}" alt="">
                <h5>Django</h5>
            </div>
        </div>
    </div>
    <div class="row justify-content-center section-header text-center border-bottom">
        <h1>Our product portfolio</h1>
    </div>
    <div class="row justify-content-between section">
        <div class="col-md-3 col-sm-6">
            <div class="row justify-content-center">
                <div class="row">
                    <img src="{% static 'images/Scoreboard.gif'%}" style="width: 100%;" alt="">
                </div>
                <div class="row">
                    <h5>Scoreboard</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row justify-content-center">
                <div class="row">
                    <img src="{% static 'images/DataVisualization.gif' %}" style="width: 100%;" alt="">
                </div>
                <div class="row">
                    <h5>Dashboard</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row justify-content-center">
                <div class="row  mb-2">
                    <img src="{% static 'images/CustomizedReport.gif' %}" style="width: 100%;" alt="">
                </div>
                <div class="row">
                    <h5>Excel VBA</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row justify-content-center">
                <div class="row">
                    <img src="{% static 'images/CustomizedReports.gif' %}" style="width: 100%;" alt="">
                </div>
                <div class="row">
                    <h5>Customized Reports</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center section">
        <div class="col-md-3 col-sm-6">
            <div class="row justify-content-center">
                <div class="row">
                    <img src="{% static 'images/WebScraping.gif' %}" style="width: 100%;" alt="">
                </div>
                <div class="row">
                    <h5>Web Scraping</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row justify-content-center">
                <div class="row  mb-2">
                    <img src="{% static 'images/RoboticProcessAutomation.gif' %}" style="width: 100%;" alt="">
                </div>
                <div class="row">
                    <h5>Robotic Process Automation</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}