{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block content %}
<div class="content container">
    <div class="row justify-content-center border-bottom text-center mt-1">
        <h3>Reviews</h3>
    </div>
    <div class="slideshow-container border rounded mt-4 p-4">

        <div class="mySlides fade">
          <div class="numbertext">1 / 11</div>
          <div class="slide-image">
            <img src="{% static 'images/1.png'%}" style="width:100%">
          </div>
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 11</div>
          <div class="slide-image">
            <img src="{% static 'images/2.png'%}" style="width:100%">
          </div>
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 11</div>
          <div class="slide-image">
            <img src="{% static 'images/3.png'%}" style="width:100%">
          </div>
          <div class="text">Caption Three</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/4.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Two</div>
        </div>
          
          <div class="mySlides fade">
            <div class="numbertext">5 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/5.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Three</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">6 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/6.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Two</div>
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">7 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/7.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Three</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">8 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/8.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Two</div>
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">9 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/9.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Three</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">10 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/10.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Two</div>
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">11 / 11</div>
            <div class="slide-image">
                <img src="{% static 'images/11.png'%}" style="width:100%">
            </div>
            <div class="text">Caption Three</div>
          </div>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span> 
          <span class="dot" onclick="currentSlide(5)"></span> 
          <span class="dot" onclick="currentSlide(6)"></span> 
          <span class="dot" onclick="currentSlide(7)"></span> 
          <span class="dot" onclick="currentSlide(8)"></span> 
          <span class="dot" onclick="currentSlide(9)"></span> 
          <span class="dot" onclick="currentSlide(10)"></span> 
          <span class="dot" onclick="currentSlide(11)"></span> 
        </div>
    <!-- <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col col-md-6">
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Data Mining/ Scraping a Website</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"Really great communicator. I don't know too much about data mining, and Brian was willing to
                            explain data mining to me in a way for me to understand. Communication truly is key with
                            Brian. He will twll you what is possible and what is not, and helpful. Highly
                            recommended!"</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Web scaper needed to create a python script(s) which collects data from
                        gov't website</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"Biran was communicative, easy to schedule calls with, and asked the right questions to get
                            the clarify needed to complete the task. The python script he delivered worked as we agreed
                            and was completed by the deadline"</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Excel Macro/VBA expert needed to design simple automated spreadsheet
                    </h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"Brian did an absolutely amazing job. Was able to get a challenging Excel Macro built for me
                            48
                            hours ahead of schedule. Saved me a ton of time, effort and frustration. He took the time to
                            truly understand the issue I was having, and made the product even better than I had
                            originally
                            asked for. Looking forward to working with Brian in future."</i></p>
                </div>

            </div>
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Excel Macro - Fetch external data to Excel</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"I must say Brian is a superstar in Excel. He went beyond my raw macro requirements to deliver
                            an outstanding work with great quality in a couple of days! He does not settle for mediocore
                            deliverable and goes the extra mile. Thank you so much Brian, for sure will hire you again
                            in future similar jobs."</i></p>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Python Script to Search Website</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"A pleasure to work with, will hire again."</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Need an excel report genrated from our traffic data</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"Brian does outstanding work, he was easily accessible, and easy to communicate with. Brian
                            went above and beyond, he recorded a tutorial videa that walked the end user through uising
                            the report creation tool. Brian understood our business needs of tranlating data, was
                            receptive to feedback , and developed a wonderful tool for our company to utilize. The
                            project was completed in a very timely manner. Our clients are thrilled with the resports we
                            are now able to provide. We hope to work again with Brian on future projects. Our firm
                            highly recommends wokring with Brian"</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Simple Excel Macro</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"Great work Brian. I looking forward to working with you again."</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-8">
                    <h5 style="color: #249c82;">Excel Macro - Fetch external data to Excel</h5>
                </div>
                <div class="col col-md-4" style="text-align: right;">
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                    <i class="fas fa-star rating-star"></i>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <p><i>"I must say Brian is a superstar in Excel. He went beyond my raw macro requirements to deliver
                            an outstanding work with great quality in a couple of days! He does not settle for mediocore
                            deliverable and goes the extra mile. Thank you so much Brian, for sure will hire you again
                            in future similar jobs."</i></p>
                </div>
            </div>
        </div>
    </div> -->
</div>


{% endblock content %}

{% block javascripts%}
{{block.super}}
<script type="text/javascript">

    $(document).ready(function () {
        var slideIndex = 1;

        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }

            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
        }

        $(".prev").click(function() {
            plusSlides(-1);
        });

        $(".next").click(function() {
            plusSlides(1);
        });

        var autoSlideIndex = 0;
        showAutoSlides();

        function showAutoSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
        }
        autoSlideIndex++;
        if (autoSlideIndex > slides.length) {autoSlideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[autoSlideIndex-1].style.display = "block";  
        dots[autoSlideIndex-1].className += " active";
        setTimeout(showAutoSlides, 3000); // Change image every 2 seconds
        }
    })

</script>

{% endblock javascripts%}