{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block content %}
<div class="content container">
    <div class="row justify-content-center border-bottom text-center mt-1">
        <h3>Team</h3>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 team-column">
            <div class="card">
                <div class="row justify-content-center" style="">
                    <img class="team-img" src="{% static 'images/brian.jpg'%}" alt="">
                </div>
                <div class="row justify-content-center">
                    <h5 style="text-align: center;"><i>Brian Lyew</i></h5>
                </div>
                <div class="row justify-content-center">
                    <p style="text-align: center;"><i>Founder of Dieseinerdata, Brian Lyew is the founder of
                            Dieseinerdata
                            focused
                            on leadership and vision for associate and client needs.</i></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 team-column">
            <div class="card">
                <div class="row justify-content-center" style="">
                    <img class="team-img" src="{% static 'images/emir.jpg'%}" alt="">
                </div>
                <div class="row justify-content-center">
                    <h5 style="text-align: center;"><i>Emir Hodzic</i></h5>
                </div>
                <div class="row justify-content-center">
                    <p style="text-align: center;"><i>One of our original Dieseiners at Dieseinerdata, Emir is a
                            computer
                            programmer focused on clients with needs for web scraping and data pipeline automation.</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-column">
            <div class="card">
                <div class="row justify-content-center">
                    <img class="team-img" src="{% static 'images/slobodan.jpg'%}" alt="">
                </div>
                <div class="row justify-content-center">
                    <h5 style="text-align: center;"><i>Slobodan Oruc</i></h5>
                </div>
                <div class="row justify-content-center">
                    <p style="text-align: center;"><i>One of the original Dieseiners at Dieseinerdata, Slobodan is a
                            computer programmer focused on clients with needs for Excel VBA Macro business process
                            automation.</i></p>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-cente">
        <div class="col-md-6 team-column">
            <div class="card">
                <div class="row justify-content-center">
                    <img class="team-img" src="{% static 'images/irfan.jpg'%}" alt="">
                </div>
                <div class="row justify-content-center">
                    <h5 style="text-align: center;"><i>Fahim Irfan</i></h5>
                </div>
                <div class="row justify-content-center">
                    <p style="text-align: center;"><i>A Dieseiner at Dieseinerdata, Fahim is a computer programmer
                            focused
                            on clients with needs for Python Django web application development, and business analytics
                            data
                            visualizations</i></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-column">
            <div class="card">
                <div class="row justify-content-center">
                    <img class="team-img" src="{% static 'images/dusan.jpg'%}" alt="">
                </div>
                <div class="row justify-content-center">
                    <h5 style="text-align: center;"><i>SDusan Miljkovic</i></h5>
                </div>
                <div class="row justify-content-center">
                    <p style="text-align: center;"><i>A Dieseiner at Dieseinerdata, Dusan is a graphics designer focused
                            on
                            clients with visual and graphic design needs.</i></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}