{% extends 'base.html' %}
{% block title %} What We Do {% endblock title %}

{% block content %}
<div class="content container">
    <div class="box">
        <h3>What we do</h3>
    <ul>
        <li>What we do</li>
        <ul>
            <li>From small to large, businesses often don’t have access to experts with years of experience automating
                using Microsoft Excel, visualizing using Power BI, or scraping data and web developing using Python.
                DataGot fills that gap. We give you back your time and freedom by automating your data needs so you can
                focus on value-add activities. </li>
            <li>We provide Microsoft Excel and VBA (macros) automation, Power BI visualization dashboarding, and online
                data web scraping consulting. </li>
            <li>Located in the heart of American commerce, Bentonville, Arkansas, we help people and businesses all over
                the nation from Utah to Florida, Alabama to California.</li>
        </ul>
    </ul>
    <ul>
        <li>Excel/ Macros</li>
        <ul>
            <li>Need to copy and paste numbers from different reports into other reports? Need to run your numbers?</li>
            <li>We help you design, create, and automate that model, quote tool, dashboard, report, or tracking
                spreadsheet in Microsoft Excel so you don’t have to.</li>
        </ul>
    </ul>
    <ul>
        <li>Data Visualization</li>
        <ul>
            <li>Need to see visually see how products are selling over time? Need to spot emerging trends?</li>
            <li>We help you build visual insights from your data</li>
        </ul>
    </ul>
    <ul>
        <li>Web Scrapping</li>
        <ul>
            <li>Need to track product reviews? Need to track and record prices and numbers? </li>
            <li>We help you automate, gather, and store that data.</li>
        </ul>
    </ul>
    <ul>
        <li>Web Development</li>
        <ul>
            <li>Full Web Development for your business</li>
            <li>Create and maintaine your website or ecommerce</li>
            <li>Working with excisting and new CMS built for you</li>
        </ul>
    </ul>
    </div>
    
</div>
{% endblock content %}